:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
  width: 100%;
  
  button {
    float: right;
  }
}

.country-img {
  border: 1px solid #f1f1f1;
}

mat-form-field {
  width: 49%;

  &:nth-child(1n) {
    margin-right: 1%;
  }
}

.form-element {
  display: flex;
  width: 100%;
  border-top: 1px solid #f1f1f1;
  padding-top: 15px;
  justify-content: end;
}

mat-card {
  margin-bottom: 15px;
  min-height: 200px;

  mat-card-header {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
  
    mat-card-title {
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  }
}

.content-list {
  width: 50%;
  float: left;
}