<div class="container" *ngIf="path === 'edit'; else viewInfo">
  <div class="row">
    <div class="col-md-10">
      <h2>{{country.name.official}}</h2>
    </div>
    <div class="col-md-2 d-flex justify-content-end pe-3">
      <button mat-flat-button color="primary" routerLink="/country/{{country.cca2.toLowerCase()}}/view"
        [state]="country">View Country</button>
    </div>
  </div>
  <form [formGroup]="form" (ngSubmit)="saveDetails()">
    <mat-form-field appearance="fill">
      <mat-label> Name </mat-label>
      <input matInput maxlength="60" type="text" placeholder="Type in the name" formControlName="name" #nameInput>
      @if (form.get('name')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Description </mat-label>
      <input matInput maxlength="60" type="text" placeholder="Type in the description" formControlName="description"
        #descriptionInput>
      @if (form.get('description')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Capital </mat-label>
      <input matInput maxlength="60" type="text" placeholder="Type in the capital" formControlName="capital"
        #capitalInput>
      @if (form.get('capital')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Population </mat-label>
      <input matInput maxlength="60" type="text" placeholder="Type in the population" formControlName="population"
        #populationInput>
      @if (form.get('population')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Region </mat-label>
      <input matInput maxlength="60" type="text" placeholder="Type in the region" formControlName="region" #regionInput>
      @if (form.get('region')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Sub-Region </mat-label>
      <input matInput maxlength="60" type="text" placeholder="Type in the subregion" formControlName="subregion"
        #subregionInput>
      @if (form.get('subregion')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>

    <div class="form-element">
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Submit Form</button>
    </div>
  </form>
</div>

<ng-template #viewInfo>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2>{{country.name.official}}</h2>
      </div>
      <div class="col-md-2 d-flex justify-content-end pe-3">
        <button *ngIf="authService.isAdminUser()" mat-flat-button color="primary"
          routerLink="/country/{{country.cca2.toLowerCase()}}/edit" [state]="country">Edit Country</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <img class="country-img" src="{{country.flags?.svg}}" alt="{{country.name.official}}" width="100%">
      </div>
      <div class="col-md-6">
        <h3>{{country.name.common}}</h3>
        <h3>{{country.name.official}}</h3>
        <p><b>Region:</b> {{country.region}}</p>
        <p><b>Sub Region:</b> {{country.subregion}}</p>
        <p><b>Capital:</b> {{country.capital[0]}}</p>
        <p><b>Population:</b> {{country.population}}</p>
        <p><b>Currency:</b> {{country.currencies ? getCurrency(country.currencies) : '' }}</p>
        <p><b>Currency Name:</b> {{country.currencies ? getCurrencySymbol(country.currencies)?.name : '' }}</p>
        <p><b>Currency Symbol:</b> {{country.currencies ? getCurrencySymbol(country.currencies)?.symbol : '' }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="45" height="45"></div>
            <mat-card-title>Country Spellings</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li [ngClass]="country.altSpellings && country.altSpellings.length > 5 ? 'content-list' : ''"
                *ngFor="let item of country.altSpellings">{{item}}</li>
            </ul>
            <p class="no-data" *ngIf="!country.altSpellings">Data not provided for this topic.</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="45" height="45"></div>
            <mat-card-title>Spoken Languages</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li [ngClass]="languages.length>5 ? 'content-list' : ''" *ngFor="let item of languages">{{item}}</li>
            </ul>
            <p class="no-data" *ngIf="languages.length === 0">Data not provided for this topic.</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="45" height="45"></div>
            <mat-card-title>Neighbouring Countries</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li [ngClass]="country.borders && country.borders.length > 5 ? 'content-list' : ''"
                *ngFor="let item of country.borders">{{item}}</li>
            </ul>
            <p class="no-data" *ngIf="!country.borders">Data not provided for this topic.</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="45" height="45"></div>
            <mat-card-title>Maps</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li><a href="{{country.maps?.openStreetMaps}}" routerLinkActive="router-link-active" target="_blank">Open
                  Street Maps</a></li>
              <li><a href="{{country.maps?.googleMaps}}" routerLinkActive="router-link-active" target="_blank">Google
                  Maps</a></li>
            </ul>
            <p class="no-data" *ngIf="!country.maps">Data not provided for this topic.</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-12">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="45" height="45"></div>
            <mat-card-title>Language Translations</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="row">
              <div class="col-md-3 translations-block" *ngFor="let item of getLanguageTranslation(country.translations)">
                <p class="translations-title">{{item.name}}</p>
                <p>{{item.common}}</p>
                <p>{{item.official}}</p>
              </div>
            </div>
            <p class="no-data" *ngIf="!country.maps">Data not provided for this topic.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
