<div class="container" *ngIf="path === 'edit'; else viewInfo">
  <h2>Edit {{country.name.common}}</h2>
  <form [formGroup]="form" (ngSubmit)="saveDetails()">
    <mat-form-field appearance="fill">
      <mat-label> Name </mat-label>
      <input matInput maxlength="15" type="text" placeholder="Type in the name" formControlName="name" #nameInput>
      @if (form.get('name')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Currencies </mat-label>
      <input matInput maxlength="15" type="text" placeholder="Type in the currencies" formControlName="currencies"
        #currenciesInput>
      @if (form.get('currencies')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Capital </mat-label>
      <input matInput maxlength="15" type="text" placeholder="Type in the capital" formControlName="capital"
        #capitalInput>
      @if (form.get('capital')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Cca2 </mat-label>
      <input matInput maxlength="15" type="text" placeholder="Type in the cca2" formControlName="cca2" #cca2Input>
      @if (form.get('cca2')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Flag </mat-label>
      <input matInput maxlength="15" type="text" placeholder="Type in the flag" formControlName="flag" #flagInput>
      @if (form.get('flag')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Region </mat-label>
      <input matInput maxlength="15" type="text" placeholder="Type in the region" formControlName="region" #regionInput>
      @if (form.get('region')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label> Population </mat-label>
      <input matInput maxlength="15" type="text" placeholder="Type in the population" formControlName="population"
        #populationInput>
      @if (form.get('population')?.hasError) {
      <mat-error>{{errorMessage}}</mat-error>
      }
    </mat-form-field>

    <div class="form-element">
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Submit Form</button>
    </div>
  </form>
</div>

<ng-template #viewInfo>
  <div class="container">
    <h2>{{country.name.official}}</h2>
    <div class="row">
      <div class="col-md-6">
        <img class="country-img" src="{{country.flags?.svg}}" alt="{{country.name.official}}" width="100%">
      </div>
      <div class="col-md-6">
        <h3>{{country.name.common}}</h3>
        <h3>{{country.name.official}}</h3>
        <p><b>Region:</b> {{country.region}}</p>
        <p><b>Sub Region:</b> {{country.subregion}}</p>
        <p><b>Capital:</b> {{country.capital[0]}}</p>
        <p><b>Population:</b> {{country.population}}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="50" height="50"></div>
            <mat-card-title>Language Translations</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li [ngClass]="country.altSpellings && country.altSpellings.length>5 ? 'content-list' : ''"
                *ngFor="let item of country.altSpellings">{{item}}</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="50" height="50"></div>
            <mat-card-title>Spoken Languages</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li [ngClass]="languages.length>5 ? 'content-list' : ''" *ngFor="let item of languages">{{item}}</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="50" height="50"></div>
            <mat-card-title>Neighbouring Countries</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li [ngClass]="country.borders && country.borders.length>5 ? 'content-list' : ''"
                *ngFor="let item of country.borders">{{item}}</li>
            </ul>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <div mat-card-avatar><img src="{{country.coatOfArms?.svg}}" alt="" width="50" height="50"></div>
            <mat-card-title>Maps</mat-card-title>
            <mat-card-subtitle>{{country.name.common}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul>
              <li><a href="{{country.maps?.openStreetMaps}}" routerLinkActive="router-link-active" target="_blank">Open
                  Street Maps</a></li>
              <li><a href="{{country.maps?.googleMaps}}" routerLinkActive="router-link-active" target="_blank">Google
                  Maps</a></li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
