<div class="nav">
  <div class="container">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Magilla
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
  
    <div class="nav-links">
      <a routerLink="/countries">Countries</a>
      <a *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</a>
      <a *ngIf="authService.isAuthenticated()" href="#" (click)="logout()">Logout</a>
    </div>
  </div>
</div>

<section class="main-content">
  <router-outlet />
</section>

<app-scroll *ngIf="showScroll$ | async" (scrollToTop)="onScrollToTop()"></app-scroll>
