  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label> Username </mat-label>
            <input matInput maxlength="15" type="text" placeholder="Type in your username" formControlName="username"
              #usernameInput>
            @if (loginForm.get('username')?.hasError) {
            <mat-error>{{errorMessage}}</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label> Password </mat-label>
            <input matInput maxlength="15" type="password" placeholder="Type in your password"
              formControlName="password" #passwordInput>
            @if (loginForm.get('password')?.hasError) {
            <mat-error>{{errorMessage}}</mat-error>
            }
          </mat-form-field>

          <div class="form-element">
            <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit Form</button>
          </div>
        </form>
      </div>
    </div>
  </div>
