/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container.fail-snackbar {
  .mdc-snackbar__surface {
    background-color: #f90000;
  }
}

.mat-mdc-snack-bar-container.success-snackbar {
  .mdc-snackbar__surface {
    background-color: #17be3b;
  }
}